$icon-font-path: '../fonts/';
@import "common/webfonts";
@import "common/override";
// bower:scss
@import "vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "common/vbox";
@import "common/variables";
@import "common/global";
@import "layouts/anime";
[role=content]{
    @import "layouts/header";
    @import "layouts/footer";
    @import "layouts/main";
}
@import "layouts/notice";
@import "layouts/landing";
html.ie{
}
.grecaptcha-badge{
    display: none;
}

[role=list]{
    height: 100%;
    .veno-close{
        position: absolute;
        max-width: 5%;
        top: 3em;
        right: calc(10% + 3em);
        @media screen and (max-width: #{$screen-xs - 1}) {
            top: 3em;
            right: 3em;
        }
    }
    .letter{
        top: 0;
        left: 50%;
        margin-top: 18.5%;
        margin-left: #{(-100/1344*100%)};
        width: #{(100/1344*100%)};
        padding-top: #{(28/1344*100%)};
        position: absolute;
        @media screen and (max-width: #{$screen-xs - 1}) {
            margin: 38.5% 0 0 -14%;
            width: 12%;
            padding-top: 3%;
        }
    }
}