<!--現場活動-->
<section class="event section" role="event">
    <picture class="background-extend" data-src="img/form/bg.jpg"></picture>
    <picture class="background hidden-xs" data-src="img/event/bg.png"></picture>
    <picture class="background visible-xs" data-src="img/event/bg-m.png"></picture>
    <aside class="viewport">
        <aside class="inner">
            <h3 class="title">
                <img class="hidden-xs" alt="現場活動 來躑杯 於指定活動日期至活動現場，凡於現場消費 滿 300 元，
                即可參加「台啤瘋繞境，媽祖來保庇！」現場活動。" data-src="img/event/title.png">
                <img class="visible-xs" alt="現場活動 來躑杯 於指定活動日期至活動現場，凡於現場消費 滿 300 元，
                即可參加「台啤瘋繞境，媽祖來保庇！」現場活動。" data-src="img/event/title-m.png"></h3>
            <article class="text">
                <aside class="map-links">
                    <aside class="row">
                        <aside class="col-sm-6 col-xs-12"><a href="https://www.google.com/maps/?q=雲林縣西螺鎮延平路7號" target="_blank"><img class="hidden-xs" data-src="img/event/btn-map1.png"><img class="visible-xs" data-src="img/event/btn-map1-m.png"></a></aside>
                        <aside class="col-sm-6 col-xs-12"><a href="https://www.google.com/maps/?q=彰化縣北斗鎮斗苑路2段143號" target="_blank"><img class="hidden-xs" data-src="img/event/btn-map2.png"><img class="visible-xs" data-src="img/event/btn-map2-m.png"></a></aside>
                    </aside>
                </aside>
                <ul>
                    <li>參加方式：<br>
                            ① 至營業所攤位購買商品滿 300 元。<br>
                            ② 憑現場消費發票依照排隊動線準備擲杯。<br>
                            ③ 活動說明，擲杯達到活動標準即可獲得贈品。</li>
                    <li>遊戲方式：
                            聖筊：連續 8 個獲得媽祖金墜約 2.5 錢 (誤差值 0.3 錢)。<br>
                            (每場最多 2 個，共兩場，送完為止)<br>
                            聖筊：連續 4 個獲得金牌 x 媽祖限量贈品。<br>
                            (每場最多 50 個，共兩場，送完為止)</li>
                </ul>
                <p>(媽祖金墜得主需現場填寫中獎確認函，後續提供 10% 所得稅證明 始得領取獎項)</p>
            </article>
        </aside>
    </aside>
</section>
<!--./現場活動-->