<!-- 主視覺 -->
<section class="kv section" role="kv">
	
	<aside class="viewport">
		<picture class="background hidden-xs" data-src="img/kv/kv-bg.png">
			<aside class="center">
				<img class="tagline" alt="大甲媽 戊戌年紀念款" data-src="img/kv/children-of-da-jia-ma.png">
				<img class="visual" alt="台啤瘋繞境 媽祖來保庇" data-src="img/kv/visual.png">
				<img class="troop" data-src="img/kv/troop.png">
				<img class="beer" data-src="img/kv/machoo-beer.png">
			</aside>
			<a class="hidden-xs btn1" href="#form">
				<img alt="登錄發票 抽保庇" data-src="img/kv/kv-btn1.png">
			</a>
			<a class="hidden-xs btn2" href="#event">
				<img alt="現場活動 來擲杯" data-src="img/kv/kv-btn2.png">
			</a>
		</picture>
		<picture class="background visible-xs" data-src="img/kv/kv-m.jpg"></picture>
	</aside>
</section>
<!-- ./主視覺 -->