<!--18歲了嗎-->
<section class="hide" id="landing">
    <section role="landing" class="landing-pop">
        <aside class="center">
            <img class="visual hidden-xs" alt="請問您滿18歲了嗎 ?" src="img/landing/visual.png">
            <img class="visual visible-xs" alt="請問您滿18歲了嗎 ?" src="img/landing/visual-m.jpg">
            <a href="javascript:" class="veno-close">
                <img src="img/landing/yes.png">
            </a>
            <a href="javascript:" class="no">
                <img src="img/landing/no.png">
            </a>
        </aside>
    </section>
</section>
<!--./18歲了嗎-->
<!--媽祖保庇您長大!-->
<section class="hide" id="stop">
    <section role="stop" class="stop-pop">
        <aside class="center">
            <img class="visual-keep hidden-xs" alt="媽祖保庇您長大!" src="img/landing/stop-here.png">
            <img class="visual-keep visible-xs" alt="媽祖保庇您長大!" src="img/landing/stop-here-m.jpg">
        </aside>
    </section>
</section>
<!--./媽祖保庇您長大!-->
<a href="#landing" class="veno age landing" data-vbtype="inline"></a>
<a href="#stop" class="veno age no" data-vbtype="inline"></a>