<!--注意事項-->
<section class="notice7 section" role="notice7">
    <picture class="hidden-xs background" data-src="img/notice7/bg.jpg"></picture>
    <picture class="visible-xs background" data-src="img/notice7/bg-m.jpg"></picture>
    <aside class="viewport">
        <aside class="inner">
            <h3>注意事項</h3>
            <article class="text">
                <ol>
                    
                    <li>本次活動主辦單位為臺灣菸酒股份有限公司，委由聯眾廣告公司執行「金牌台灣啤酒 x 大甲鎮瀾宮促銷活動」活動。</li>

                    <li>參加者，每人限制中獎上限為乙次，重複中獎以價值高者為主，超過部份自動棄權；另中獎之消費者獎項最晚於107/05/31前寄送完畢。</li>
                    
                    <li>中獎者同意活動期間內所有留存或產生之任何參與活動的資料及記錄，皆以主辦單位的電腦系統與時間的記錄為主。如有任何因電腦、網路、電話、技術或不可歸責於主辦單位之事由，而使中獎者送出之資料有延遲、遺失、錯誤、無法辨識之情況，主辦單位不負責任何法律責任，中獎者不得因此異議。</li>
                    
                    <li>中獎者接獲得獎通知後，寄送至活動小組<span class="hl">(台北市內湖區陽光街321巷56號5樓，聯眾廣告收)</span>兌奨之發票需為正本，發票不另行歸還，本活動收集之兌奨發票將全數捐贈公益團體。</li>
                    
                    <li>以任何駭客或其它非法行為破壞活動規則者，中獎無效，主辦單位並對其參加者或得獎者保留法律追訴權。</li>
                    
                    <li>如因寄送過程中發生信件遺失、信封破損或其他不可歸責於主辦單位之原因，導致兌獎憑證遺失或無法辨識，或中獎者資料填寫不完整或不清楚，導致未能或不符資格兌獎，得獎者同意主辦單位無需為此負任何責任。</li>
                    
                    <li>中獎者應保證所有填寫或提出之資料均為真實且正確，並未冒用或盜用他人資料，如有不實或不正確資訊，主辦單位將取消其中獎資格，並就其損害主辦單位或任何第三人權益，保留一切法律追訴之權利。</li>
                    
                    <li>本活動屬競技競賽及機會中獎所得，依所得稅法之規定，年度累積中獎價值若超過 NT$1,000 整，應列入得獎人年度綜合所得，主辦單位依所得稅法第 94-1 條之規定，得免填發各類所得扣繳暨免扣繳憑單予得獎人，若得獎人有需求時請另行提出申請。中獎價值在 NT$20,001 元以上者，依法需繳交 10％ 稅金。得獎者若非中華民國國境內設籍之國人(即在中華民國境內居住未達 183 天之本國人及外國人)不論得獎者所得之金額，須就中獎所得扣繳 20% 機會中獎稅。若得獎者不願先行繳納本項稅金，視同放棄中獎資格，且不得異議。得獎者需於隔年5月底前完成申報。</li>
                    
                    <li>本活動之所有獎品不得轉換或折換現金。</li>
                    
                    <li>獎項以公佈於本網站上的資料為準，如遇不可抗力之因素，主辦單位保留修改活動與獎項細節的權利，無須事前通知，並有權對本活動所有事宜作出解釋或裁決。如本活動因不可抗力之特殊原因無法執行時，主辦單位有權決定取消、終止、修改或暫停本活動，如有任何未盡事宜均以主辦單位依中華民國法律解釋之。</li>
                    
                    <li>獎品寄送地區僅限為台灣、金門、澎湖、馬祖地區，主辦單位恕不處理郵寄獎項至海外地區之事宜。</li>
                    
                    <li>中獎者須同意遵守各獎品供應商所列有關獎品之各項條款及細則，且中獎者同意主辦單位對所有領取或使用獎品之後果概無須負責。</li>
                    
                    <li>本活動網頁之所有內容由主辦單位擁有所有著作權，未經許可，不得抄襲、拷貝與複製相關圖片與文字，主辦單位保留所有侵權事宜之法律追訴權利。</li>
                    
                    <li>中獎者參與本活動時，視為同意接受本活動所有內容及細則之規範；倘有違反本活動相關注意規範，主辦單位得取消其中獎資格，並對於任何破壞本活動之行為保留法律追訴權。</li>
                    
                    <li>主辦單位僅使用中獎者所提供之個人資料於此次活動用途，且遵守【個人資料保護法】相關規定，以維護參加者權益。得獎者同意中獎相關個人資訊由主辦單位於活動範圍內進行蒐集、電腦處理及利用，但不做其他用途；另為確認中獎之名單，得獎者並授權主辦單位得公開公佈其姓名。</li>
                    
                    <li>活動相關疑問請洽詢活動小組專線：02-2657-7630 (服務時間週一～週五09：30～18：00不含例假日)。</li>
                    
                </ol>
            </article>
        </aside>
    </aside>
</section>
<!--./注意事項-->