<!--活動獎項-->
<section class="prize section" role="prize">
	
	<picture class="background hidden-xs" data-src="img/prize/bg.png"></picture>
	<picture class="background visible-xs" data-src="img/prize/bg-m.jpg"></picture>
	<aside class="viewport">
		<figure class="mid" data-src="img/prize/viewport.png">
			<aside class="subitem">
				<ul class="items">
					<li>
						<img class="hidden-xs" data-src="img/prize/prize1.png" alt="媽祖金墜 約 2.5 錢 (誤差值 0.3 錢) 共 8 名">
						<img class="visible-xs" data-src="img/prize/prize1-m.png" alt="媽祖金墜 約 2.5 錢 (誤差值 0.3 錢) 共 8 名">
					</li>
					<li>
						<img class="hidden-xs" data-src="img/prize/prize2.png" alt="金牌台啤 X 大甲鎮瀾宮媽祖 聯名贈品 共 100 名">
						<img class="visible-xs" data-src="img/prize/prize2-m.png" alt="金牌台啤 X 大甲鎮瀾宮媽祖 聯名贈品 共 100 名">
					</li>
				</ul>
			</aside>
			<img class="wave hidden-xs" data-src="img/prize/wave.png" alt="海波浪">
			<img class="wave visible-xs" data-src="img/prize/wave-m.png" alt="海波浪">
		</figure>
	</aside>
</section>
<!--./活動獎項-->