<!--活動辦法-->
<section class="rule section hidden-xs" role="rule">
    <picture class="background" data-src="img/form/bg.jpg"></picture>
    <aside class="viewport">
        <aside class="inner">
            <article class="text">
                <h4>活動時間</h4>
                <p>2018 / 03 / 28 ～ 2018 / 05 / 15</p>
                <h4>活動辦法</h4>
                <p>即日起凡購買【金牌台灣啤酒 0.33L 六入】或【金牌台灣啤酒 0.5L  四入】罐裝產品，登錄發票就有機會抽媽祖金墜 約 2.5 錢 (誤差值 0.3 錢) 共 8 名、金牌台啤X大甲鎮瀾宮媽祖聯名贈品共 100 名，讓媽祖保庇您闔家平安喜樂一整年！!</p>
                <h4>得獎公布時間</h4>
                <ul>
                    <li>第一波：4/17 (二)，登錄發票截止至 4/16  23:59，超過時間皆列入第二波。<br>獎項：媽祖金墜 2 名、聯名贈品 20 名<br>第一波未中獎之消費者，可累計至第二波抽獎。</li>
                    <li>第二波：5/15(二)，登錄發票截止至 5/14  23:59，超過時間皆不列入抽獎名單。<br>獎項：媽祖金墜 8 名、聯名贈品 80 名<br> ( 媽祖金墜得主需下載填寫 <a target="blank" download href="media/媽祖金墜_中獎確認函_0314.pdf">中獎確認函</a>，後續提供 10% 所得稅證明 始得領取獎項 )</li>
                </ul>
            </article>
            <img class="avatar1" data-src="img/rule/avatar1.png">
            <img class="avatar2" data-src="img/rule/avatar2.png">
        </aside>
    </aside>
</section>
<!--./活動辦法-->